.desktop-1,
.desktop-1 * {
  box-sizing: border-box;
}
.desktop-1 {
  background: #bcebfb;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.rectangle-1 {
  background: #87d3f3;
  border-radius: 40px;
  width: 900px;
  height: 600px;
  position: absolute;
  left: 270px;
  top: 212px;
}
.ooo {
  color: #000000;
  text-align: left;
  font-family: "Inspiration-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 549px;
  top: 247px;
}
.rectangle-2 {
  background: #ffffff;
  border-radius: 10px;
  width: 608px;
  height: 84px;
  position: absolute;
  left: 415px;
  top: 352px;
  box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-4 {
  background: #ffffff;
  border-radius: 10px;
  width: 214px;
  height: 44px;
  position: absolute;
  left: 613px;
  top: 656px;
  box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-5 {
  background: #ffffff;
  border-radius: 10px;
  width: 214px;
  height: 44px;
  position: absolute;
  left: 613px;
  top: 726px;
  box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-3 {
  background: #ffffff;
  border-radius: 10px;
  width: 608px;
  height: 84px;
  position: absolute;
  left: 415px;
  top: 470px;
  box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
}
