<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../resources/css/reset.css" />
    <link rel="stylesheet" href="../component/login.css" />
  </head>
  <body>
    <form>
      <h1>OOO 여행사</h1>
      <input
        type="text"
        id="id"
        name="id"
        placeholder="아이디"
        required
      /><br />

      <input type="password" id="pwd" name="pwd" placeholder="비밀번호" /><br />

      <button>로그인</button>
    </form>
  </body>
</html>
