.container {
  /*container에 display:flex*/
  display: flex;
  background: #f0f0f0;
  padding: 1rem;
  border: 1px solid #ccc;
}
.tall {
  height: 300px;
}
.item {
  background: white;
  border: 2px solid #333;
  padding: 1rem;
  text-align: center;
}
/*flex-direction*/
#fd {
  /*row (기본값) 가로 방향*/
  flex-direction: row;
  /*row-reverse 가로 반대 방향*/
  flex-direction: row-reverse;
  /*column 세로 방향*/
  flex-direction: column;
  /*column-reverse 세로 방향 반대*/
  flex-direction: column-reverse;
}
/*justify-content*/
#jc {
  /*flex-start (기본값) 왼쪽 정렬*/
  justify-content: flex-start;
  /*flex-end 오른쪽 정렬*/
  justify-content: flex-end;
  /*center 가운데 정렬*/
  justify-content: center;
  /*space-btween 양 끝 정렬*/
  justify-content: space-between;
  /*space-around 균일 간격*/
  justify-content: space-around;
  /* space-evenly 동일 간격*/
  justify-content: space-evenly;
}
#jc-2 {
  justify-content: space-between;
}
/*align-items*/
#ai {
  /*stretch 높이 자동 확장*/
  align-items: stretch;
  /*flex-start / start 상단 정렬*/
  align-items: flex-start;
  /*flex-end 하단 정렬*/
  align-items: flex-end;
  /*center 수직 중앙 정렬*/
  align-items: center;
  /*flex-direction: column;*/
}
/*flex-wrap*/
#fw {
  /*nowrap 줄 바꿈 없음*/
  flex-wrap: nowrap;
  /*wrap 줄 바꿈 허용*/
  flex-wrap: wrap;
  /*wrap-reverse 역방향 줄바꿈*/
  flex-wrap: wrap-reverse;
}
#fw .item {
  width: 100px;
  height: 100px;
}
/*align-self*/
.self-start {
  /*flex-start */
  align-self: flex-start;
}
.self-center {
  align-self: center;
}
.self-end {
  align-self: flex-end;
}
/*order 순서 변경*/
.order1 {
  order: 2;
}
.order3 {
  order: -3;
}
/*gap 아이템 사이 간격*/
#gap {
  gap: 20px;
}

#gap .item {
  /*margin: 2px;}*/
  margin-right: 20px;
}
/*flex-grow*/
/*컨테이너 보다 아이템이 작을때 flex-grow 값이 클수록 남은 공간을 더많이 차지*/
#grow-1 {
  flex-grow: 1;
}
#grow-2 {
  flex-grow: 2;
}
#grow-3 {
  flex-grow: 3;
}
/*flex-shrink 얼마나 줄어들 건지*/
/*컨테인너 보다 아이템이 클때
flex-shrink 값이 작을수록 더 적게 줄어든다 0일때는 줄어들지 안는다.*/
#shrink .item {
  width: 300px;
}
#shrink-1 {
  flex-shrink: 0;
}
#shrink-2 {
  flex-shrink: 1;
}
#shrink-3 {
  flex-shrink: 2;
}
/*flex-basis*/
/*wedth 같은 효과*/
#basis-1 {
  flex-basis: 100px;
}
#basis-2 {
  flex-basis: 200px;
}
#basis-3 {
  flex-basis: 150px;
}
/*flex : flex-grow + flex-shrink + flex-basis*/
#flex-1 {
  flex: 0 1 auto;
}
#flex-2 {
  /*grow 1, shrink 1, basis 0% 움직이게 할때*/
  flex: 1;
}
#flex-3 {
  /*고정을 시킬때*/
  flex: none;
}
/*align-content*/
#ac {
  flex-wrap: wrap;
  height: 200px;
  /*flex-start 상단 정렬*/
  align-content: flex-start;
  /*center* 중앙 정렬*/
  align-content: center;
  /*space-btweem 양끝정렬*/
  align-content: space-between;
}
