header {
  position: fixed;
  background-color: skyblue;
  width: 100%;
  /*flex : flex 속성을 사용할때 반드시 표기*/
  display: flex;
  justify-content: space-between;
}
header h1 {
  font-size: 2rem;
  padding: 10px;
  font-weight: bold;
}
header nav {
  display: flex;
}
header nav a {
  /* display: inline-block;
  height: 52px;
  line-height: 52px;
  padding: 5px;*/
  display: flex;
  align-items: center;
  padding: 5px;
}
header nav a:hover {
  background: black;
  color: white;
}

h1 {
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 2rem;
}
section {
  height: 100vh;
  /*아래 3개 텍스처를 정 가운데 위치*/
  display: flex;
  justify-content: center;
  align-items: center;
  /*정중앙 시키고 방향이 이상할때 방향전환*/
  flex-direction: column;
}
section h2 {
  font-size: 1.6rm;
  font-weight: bold;
  margin-bottom: 10px;
}
section p {
  line-height: 1.5;
  text-align: center;
  width: 70%;
}

#section1 {
  background-color: cadetblue;
  columns: black;
}

#section2 {
  background-color: blueviolet;
  color: white;
}

#section3 {
  background-color: brown;
  color: white;
}
.top {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  position: fixed;
  border-radius: 50%;
  right: 20px;
  bottom: 30px;
}
